.search-box {
    position: relative;

}

.navbar {
    background: #2c3e50;
}

.search {
    color: black;
    border-radius: 6px;
}

.search-dropdown {
    position: absolute;
    top: 30px;
    background: white;
    /*width: 100%;*/
    min-height: 10px;
    color: black;
    border-radius: 5px;
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
    z-index: 10;
    width: 300px;
}

.search-dropdown li{
    list-style-type: none;
    margin-top: 7px;
    margin-bottom: 7px;
}